<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		¿Qué quieres subir?
		<a href="./upload/imports">Datos importaciones</a>
		<a href="./upload/exports">Datos exportaciones</a>
		<br><br>
		O... <a href="./viewdata">¿Quieres ver los datos?</a>
	<body>
</html>
